<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn brand btn-outline-light btn-floating m-1" target="_blank" href="https://www.facebook.com/AkletyXBaity/" role="button">
                <i class="fa fa-facebook"></i> </a>

            <!-- Twitter -->
            
            <!-- Google -->
            <a class="btn brand btn-outline-light btn-floating m-1" target="_blank"  href="https://www.instagram.com/akltyxbaity/" role="button"><i class="fa fa-instagram"></i></a>

            <!-- Instagram -->
            <a class="btn brand btn-outline-light btn-floating m-1" target="_blank" href="https://www.youtube.com/channel/UCbW-UbC-lYZjEMDIk2fWzZQ" role="button"><i
                    class="fa fa-youtube"></i></a>

            <!-- Linkedin -->
            
            <!-- Github -->
            <a class="btn brand btn-outline-light btn-floating m-1" routerLink="contact" role="button"><i class="fa fa-phone"></i></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>