checkout-item img {
    width: 30%;
  }
  
  .inc {
    font-weight: 800;
  }
  .container-checkout {
    background-color: rgb(255, 196, 0);
  }

  table{
    border: 10px;

  }

  table tr {
    border: 10px;
  }

 .Confirm{
   background-color: rgb(233, 97, 97);
   text-align: center;
 }