<!-- <div class="about "> 
    <div class="container  ">
        <div class="row">
            <div class="col-md-8 ">
                    <h2 class="title">Welcome To You In Aklity x Baity
                    </h2>
                    <p class="deta mt-4"> Indulge all your food cravings with Aklty x Baity!
                    <br>
                    <br>
                     - Aklty x Baity is an online food ordering & delivery platform offering users a seamless and convenient way to order food from a variety of restaurants & grocery shops all over Egypt.
                    <br>
                    <br>
                    - Aklty x Baity has been in the Egyptian market since May 2017, serving users 24/7 in more than 11 cities from more than 1,800 restaurants & grocery shops and offering them a unique food ordering & delivery experience. You can order from Aklty x Baity through the mobile app (iOS & Android) or the website and pay however you want (cash or online) and with exclusive offers and discounts.
                    
                    </p> 
              </div>
            <div class="col-md-4">
              <img src="../../assets/Aklity.png" class="myimg w-100 img-fluid rounded-circle " alt="">
            </div>
       <div>
        

    </div>
    
</div> -->


<div class="about">
  <div class="container">
    <div class="row">
      <div class="about-img col-md-4">
        <img src="../../assets/Aklity.png" alt="img">
        <div class="border-img"></div>
        <div class="about-caption">
            <div class="icon-caption">
              <a  target="_blank" href="https://www.facebook.com/AkletyXBaity/" role="button">
                <i class="fa fa-facebook"></i> </a>

            <!-- Twitter -->
            
            <!-- Google -->
            <a target="_blank"  href="https://www.instagram.com/akltyxbaity/" role="button"><i class="fa fa-instagram"></i></a>

            <!-- Instagram -->
            <a  target="_blank" href="https://www.youtube.com/channel/UCbW-UbC-lYZjEMDIk2fWzZQ" role="button"><i
                    class="fa fa-youtube"></i></a>

            <!-- Linkedin -->
            
            <!-- Github -->
            <a routerLink="contact" role="button"><i class="fa fa-phone"></i></a>
     
            </div>
        </div>
    </div>

    <div class="about-content col-md-8">
        <h2> HELLO,</h2>
        

          <p class="title">Welcome To You In Aklity x Baity
          </p>

          <p class="deta mt-4"> Indulge all your food cravings with Aklty x Baity!</p>
         
          <br>
          
          
          <p>- Aklty x Baity is an online food ordering & delivery platform offering users a seamless and convenient way to order food from a variety of restaurants & grocery shops all over Egypt.</p>
          <br>
        
          <p>
          - Aklty x Baity has been in the Egyptian market since May 2017, serving users 24/7 in more than 11 cities from more than 1,800 restaurants & grocery shops and offering them a unique food ordering & delivery experience. You can order from Aklty x Baity through the mobile app (iOS & Android) or the website and pay however you want (cash or online) and with exclusive offers and discounts.
          </p>
          
        
        <p>----------------------------------------------------------------------------------------</p>
        <div class="about-list">
           
                
                    <h5 ><strong>Name :</strong> Eman Sayed</h5>
                    

           
        </div>
       
    </div>

    </div>
      

  </div>
</div>