.navbar-brand {
  font-weight: 900;
  color:  #e0b430;

}
.navbar .container-fluid .myimg {
  width: 5%;
}
// .container{
//   display: flex;
//   justify-content:last baseline
// }

.cardcar{
  width: 20px;
}
.navbar{
  // font-family: "Caveat", cursive;
  // font-family: "Sansita Swashed", cursive;
  background-color: rgba($color: #363636, $alpha: 0.7) !important;
}
